
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* The dark background color for the entire portfolio */
  background: #121212;
  
  /* Default text color for the site */
  color: #e4e4e7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.main-content {
  padding-top: 80px;
}