/* General styling for our main page containers */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: calc(100vh - 80px); /* Full height minus navbar */
  color: #fff;
}

.page-title {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
  display: inline-block;
  text-align: center;
}

.page-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  background-color: #6c63ff;
}