.navbar {
  background: #1c1c1e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #333;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align items */
  height: 80px;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-links:hover {
  border-bottom: 4px solid #4d4dff;
  transition: all 0.2s ease-out;
}

.nav-links.active {
  border-bottom: 4px solid #6c63ff;
}

/* Hide the hamburger icon on desktop */
.menu-icon {
  display: none;
}

/* --- MEDIA QUERY FOR MOBILE --- */
@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%; /* Hide the menu off-screen */
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #2c2c2e;
    left: 0; /* Bring the menu on-screen */
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    width: 100%;
    height: auto; /* Adjust height for column layout */
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #6c63ff;
    color: #fff;
    border-radius: 0;
    border-bottom: none;
  }

  .navbar-logo {
    font-size: 1.8rem;
  }

  /* Show the hamburger icon */
  .menu-icon {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}